<!DOCTYPE html>
<html>
<head>
    <title>
        emotion recognize
    </title>
    <style>
        *{
            font-size:30px;
        }
    </style>
</head>
<body>
    <input id="image-selector" type="file">
    <button id="predict-button">Predict</button>
    <p style="font-weight:bold">Predictions</p>
    <p>pet:<span id="pet"></span></p>
    <p>breed:<span id="breed"></span></p>
    <p>emotion:<span id="emotion"></span></p>
    <img id="selected-image" src="" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        let base64Image;
        $("#image-selector").change(function(){
            let reader = new FileReader();
            reader.onload = function(e){
                 let dataURL = reader.result;
                 $('#selected-image').attr("src",dataURL);
                 base64Image = dataURL.replace("data:image/png;base64,","");
                 console.log(base64Image);
        }
        reader.readAsDataURL($("#image-selector")[0].files[0]);
        $("#result").text("");
        });

        $("#predict-button").click(function(event){
           let message = {
              image: base64Image
        }
        console.log(message);
        $.post("http://10.12.147.161:5000/predict",JSON.stringify(message), function(response){
            $("#emotion").text(response.emotion);
            $("#breed").text(response.breed);
            $("#pet").text(response.pet);
            consule.log(response);
        });
        });

    </script>
</body>
</html>